@import url('./components/BibleDisplay/fonts.css');

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@keyframes highlight {
  0% {
    background-color: rgba(255, 255, 0, 0); /* 完全透明 */
  }
  15% {
    background-color: rgba(255, 240, 0, 0.6); /* 快速达到黄色高亮 */
  }
  30% {
    background-color: rgba(255, 255, 0, 0.4); /* 回退一半透明度 */
  }
  45% {
    background-color: rgba(255, 245, 0, 1); /* 再次增强高亮 */
  }
  60% {
    background-color: rgba(255, 255, 0, 0.2); /* 渐弱 */
  }
  75% {
    background-color: rgba(255, 230, 0, 0.8); /* 二次增强 */
  }
  100% {
    background-color: rgba(255, 255, 0, 0); /* 回到透明 */
  }
}

.jumpto-emphasis {
  animation: highlight 3s ease-in-out infinite; /* 添加无限循环 */
}

.content-display > * {
  margin-bottom: 1em;
}

p.para {
  line-height: 2em;
  text-indent: 2em;
  font-family:
    content-font, greekfont, Arial, hebrewfont, sans-serif !important;
}

.comment {
  font-family: content-font, greekfont, Arial, hebrewfont, sans-serif;
  text-align: left;
  font-size: 0.8em;
  padding-left: 4em;
  line-height: 2em;
}

.comment-list,
.ul-comment-list {
  font-family: content-font, greekfont, Arial, hebrewfont, sans-serif;
  padding-left: 8em;
  font-size: 0.8em;
  line-height: 2em;
  list-style-type: decimal;
}
.ul-comment-list {
  list-style-type: disc;
}
mark,
span.greek,
span.hebrew {
  padding: 0 !important;
}
mark.hebrew,
span.hebrew {
  font-size: 1.23em;
  background-color: unset;
  font-family: hebrewfont, sans-serif;
}
mark.greek,
span.greek {
  background-color: unset;
  font-size: 1.05em;
  font-family: greekfont;
}
sup {
  font-size: 0.5em !important;
  vertical-align: super !important;
}
cite,
span.affix {
  font-family: comment-font, greekfont, Arial, hebrewfont, sans-serif;
  font-style: normal;
  font-size: 0.75em;
}
.para.addition {
  font-size: 0.7em;
  font-family:
    comment-font, greekfont, Arial, hebrewfont, sans-serif !important;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 4em;
}
.ot-refs {
  padding-left: 4em;
  line-height: 2em;
  margin-bottom: 1rem;
}

@media screen and (max-width: 430px) {
  .ot-refs {
    padding-left: 2em;
  }
  .comment-list {
    padding-left: 4em;
  }
  .comment {
    padding-left: 2em;
  }
}

.selected {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: cornflowerblue;
  text-decoration-skip-ink: all;
}
.remark {
  font-family: content-font, greekfont, Arial, hebrewfont, sans-serif;
  font-size: 0.8em;
}
.sample-para + .sample-para {
  margin-top: 1em;
}

.content-display > div > * {
  margin-bottom: 1em;
}

.preface-title {
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
}

p.preface-title,
.preface-sub,
.preface-para,
.preface-para2,
.nav-list,
.nav-book-page,
.part-nav,
.nav-info,
.book-nav {
  font-family:
    content-font, greekfont, Arial, hebrewfont, sans-serif !important;
  line-height: 2em;
}

/* p.sample-para, */
.preface-para,
.preface-para2,
.preface-sub {
  text-indent: 2rem;
  line-height: 2em;
}

p.preface-para,
p.preface-title,
.preface-para,
.preface-para2,
.preface-sub,
.nav-book-page,
.nav-list,
.nav-info,
.remark,
.ot-refs {
  /* font-family: greekfont, Arial, hebrewfont, preface-font, sans-serif !important; */
  font-family:
    content-font, greekfont, Arial, hebrewfont, sans-serif !important;
  /* font-weight: lighter; */
}
.preface-para2 {
  /* white-space: break-spaces; */
  tab-size: 16;
}
p.sample-para {
  font-family:
    comment-font, greekfont, Arial, hebrewfont, sans-serif !important;
}
p.sample-para-indent {
  text-indent: 2rem;
}

.preface-sub {
  font-weight: bold;
  font-size: 120%;
  text-indent: 0 !important;
  padding-top: 1em;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
}

.text-nowrap {
  white-space: nowrap !important;
}

.col-sm-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.col-sm-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-sm-10 .comment {
  text-indent: 0em;
  padding-top: 1em;
  padding-left: 0em;
}

.text-end {
  text-align: right !important;
}
.logo {
  height: 48px;
}
@media screen and (max-width: 672px) {
  .logo {
    margin-left: 2px;
  }
}
@media screen and (max-width: 360px) {
  .logo {
    height: 40px;
    margin-left: 2px;
  }
}
i {
  font-style: italic;
}
