@import url('./fonts.css');

.content-display > * {
  margin-bottom: 1em;
}

p.para {
  line-height: 2em;
  text-indent: 2em;
  font-family:
    content-font, greekfont, Arial, hebrewfont, sans-serif !important;
}

.comment {
  font-family: content-font, greekfont, Arial, hebrewfont, sans-serif;
  text-align: left;
  font-size: 0.8em;
  padding-left: 4em;
  line-height: 2em;
}

.comment-list {
  font-family: content-font, greekfont, Arial, hebrewfont, sans-serif;
  padding-left: 8em;
  font-size: 0.8em;
  line-height: 2em;
  list-style-type: decimal;
}
mark,
span.greek,
span.hebrew {
  padding: 0 !important;
}
mark.hebrew,
span.hebrew {
  font-size: 1.05em;
  background-color: unset;
  font-family: hebrewfont, sans-serif;
}
mark.greek,
span.greek {
  background-color: unset;
  font-size: 1.05em;
  font-family: greekfont;
}
sup {
  font-size: 0.5em !important;
  vertical-align: super !important;
}
cite,
span.affix {
  font-family: comment-font, greekfont, Arial, hebrewfont, sans-serif;
  font-style: normal;
  font-size: 0.75em;
}
.para.addition {
  font-size: 0.7em;
  font-family:
    comment-font, greekfont, Arial, hebrewfont, sans-serif !important;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 4em;
}
.ot-refs {
  padding-left: 4em;
  line-height: 2em;
  margin-bottom: 1rem;
}
.selected {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: cornflowerblue;
  text-decoration-skip-ink: all;
}
.remark {
  font-family: content-font, greekfont, Arial, hebrewfont, sans-serif;
  font-size: 0.8em;
}
.sample-para + .sample-para {
  margin-top: 1em;
}
